services:
  db:
    image: postgres:16
    container_name: ccarre_db
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ccarre_api
    env_file:
      - .env
    working_dir: /usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  postgres_data:
 