services:
  db:
    image: postgres:16
    container_name: ccarre_db
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ccarre_api
    env_file:
      - .env
    working_dir: /usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  postgres_data:

    # services:
    #   postgres:
    #     image: postgres:16
    #     restart: always
    #     environment:
    #       POSTGRES_USER: ${POSTGRES_USER}
    #       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    #       POSTGRES_DB: ${POSTGRES_DB}
    #     ports:
    #       - "5432:5432"
    #     volumes:
    #       - postgres_data:/var/lib/postgresql/data

    #   app:
    #     build:
    #       context: .
    #       dockerfile: Dockerfile
    #     volumes:
    #       - ./packages/db:/usr/src/app
    #     working_dir: /usr/src/app
    #     command: npx tsx src/server.ts
    #     environment:
    #       DATABASE_URL: "postgresql://ccarre:ccarrepass@postgres:5432/ccarre_db"
    #     depends_on:
    #       - postgres
    #     ports:
    #       - "3000:3000"

    # volumes:
    #   postgres_data:
